## Import Required Libraries

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("../Data/Raw/BankChurners.csv")

In [3]:
df.head()

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998

In [4]:
df.shape
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,3.812580,2.341167,2.455317,8631.953698,1162.814061,7469.139637,0.759941,4404.086304,64.858695,0.712222,0.274894,0.159997,0.840003
std,3.690378e+07,8.016814,1.298908,7.986416,1.554408,1.010622,1.106225,9088.776650,814.987335,9090.685324,0.219207,3397.129254,23.472570,0.238086,0.275691,0.365301,0.365301
min,7.080821e+08,26.000000,0.000000,13.000000,1.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,0.000000,510.000000,10.000000,0.000000,0.000000,0.000008,0.000420
25%,7.130368e+08,41.000000,1.000000,31.000000,3.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,0.631000,2155.500000,45.000000,0.582000,0.023000,0.000099,0.999660
50%,7.179264e+08,46.000000,2.000000,36.000000,4.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,0.736000,3899.000000,67.000000,0.702000,0.176000,0.000181,0.999820
75%,7.731435e+08,52.000000,3.000000,40.000000,5.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,0.859000,4741.000000,81.000000,0.818000,0.503000,0.000337,0.999900
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,3.397000,18484.000000,139.000000,3.714000,0.999000,0.999580,0.999990

## Remove useless columns

In [5]:
df.drop(columns=[
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1',
    'Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2'
], inplace=True)

## Clean target variable (Attrition_Flag)

In [6]:
df['Attrition_Flag'] = df['Attrition_Flag'].map({
    'Existing Customer': 0,
    'Attrited Customer': 1
})

## Gender (Binary categorical)

In [7]:
df['Gender'] = df['Gender'].map({
    'M': 1,
    'F': 0
})

## Income_Category (ORDINAL + RANGES)

In [9]:
income_map = {
    'Less than $40K': 30000,
    '$40K - $60K': 50000,
    '$60K - $80K': 70000,
    '$80K - $120K': 100000,
    '$120K +': 130000,
    'Unknown': np.nan
}

df['Income_Value'] = df['Income_Category'].map(income_map)

In [10]:

df['Income_Value'].fillna(df['Income_Value'].median(), inplace=True)

df.drop(columns=['Income_Category'], inplace=True)

C:\Users\Abdo Hafez\AppData\Local\Temp\ipykernel_16584\1917849298.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Income_Value'].fillna(df['Income_Value'].median(), inplace=True)

## Education_Level (Ordinal)

In [13]:
education_map = {
    'Uneducated': 1,
    'High School': 2,
    'College': 3,
    'Graduate': 4,
    'Post-Graduate': 5,
    'Doctorate': 6,
    'Unknown': np.nan
}
df['Education_Level'] = df['Education_Level'].map(education_map)

In [14]:
df['Education_Level'].fillna(df['Education_Level'].median(), inplace=True)

C:\Users\Abdo Hafez\AppData\Local\Temp\ipykernel_16584\1432088470.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Education_Level'].fillna(df['Education_Level'].median(), inplace=True)

## Marital_Status (Nominal)

In [15]:
df['Marital_Status'] = df['Marital_Status'].fillna('Unknown')
df = pd.get_dummies(df, columns=['Marital_Status'], drop_first=True)

## Card_Category (Nominal)

In [16]:
df = pd.get_dummies(df, columns=['Card_Category'], drop_first=True)

## Handle remaining “Unknown” values

In [17]:
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].replace('Unknown', np.nan)

In [18]:
df.fillna(df.median(numeric_only=True), inplace=True)

## Check duplicates

In [19]:
df.duplicated().sum()
df.drop_duplicates(inplace=True)

## Final validation

In [27]:
df.info()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CLIENTNUM                 10127 non-null  int64
 1   Attrition_Flag            10127 non-null  int64
 2   Customer_Age              10127 non-null  int64
 3   Gender                    10127 non-null  int64
 4   Dependent_count           10127 non-null  int64
 5   Education_Level           10127 non-null  float64
 6   Months_on_book            10127 non-null  int64
 7   Total_Relationship_Count  10127 non-null  int64
 8   Months_Inactive_12_mon    10127 non-null  int64
 9   Contacts_Count_12_mon     10127 non-null  int64
 10  Credit_Limit              10127 non-null  float64
 11  Total_Revolving_Bal       10127 non-null  int64
 12  Avg_Open_To_Buy           10127 non-null  float64
 13  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 14  Total_Trans_Amt           10127 non-null  int64
 15  Total_Trans_Ct            10127 non-null  int64
 16  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 17  Avg_Utilization_Ratio     10127 non-null  float64
 18  Income_Value              10127 non-null  float64
 19  Marital_Status_Married    10127 non-null  bool
 20  Marital_Status_Single     10127 non-null  bool
 21  Marital_Status_Unknown    10127 non-null  bool
 22  Card_Category_Gold        10127 non-null  bool
 23  Card_Category_Platinum    10127 non-null  bool
 24  Card_Category_Silver      10127 non-null  bool
dtypes: bool(6), float64(7), int64(12)
memory usage: 1.5 MB

CLIENTNUM                   0
Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
Income_Value                0
Marital_Status_Married      0
Marital_Status_Single       0
Marital_Status_Unknown      0
Card_Category_Gold          0
Card_Category_Platinum      0
Card_Category_Silver        0
dtype: int64

## Drop "CLIENTNUM" column

In [28]:
df.drop(columns=["CLIENTNUM"], inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            10127 non-null  int64
 1   Customer_Age              10127 non-null  int64
 2   Gender                    10127 non-null  int64
 3   Dependent_count           10127 non-null  int64
 4   Education_Level           10127 non-null  float64
 5   Months_on_book            10127 non-null  int64
 6   Total_Relationship_Count  10127 non-null  int64
 7   Months_Inactive_12_mon    10127 non-null  int64
 8   Contacts_Count_12_mon     10127 non-null  int64
 9   Credit_Limit              10127 non-null  float64
 10  Total_Revolving_Bal       10127 non-null  int64
 11  Avg_Open_To_Buy           10127 non-null  float64
 12  Total_Amt_Chng_Q4_Q1      10127 non-null  float64
 13  Total_Trans_Amt           10127 non-null  int64
 14  Total_Trans_Ct            10127 non-null  int64
 15  Total_Ct_Chng_Q4_Q1       10127 non-null  float64
 16  Avg_Utilization_Ratio     10127 non-null  float64
 17  Income_Value              10127 non-null  float64
 18  Marital_Status_Married    10127 non-null  bool
 19  Marital_Status_Single     10127 non-null  bool
 20  Marital_Status_Unknown    10127 non-null  bool
 21  Card_Category_Gold        10127 non-null  bool
 22  Card_Category_Platinum    10127 non-null  bool
 23  Card_Category_Silver      10127 non-null  bool
dtypes: bool(6), float64(7), int64(11)
memory usage: 1.4 MB

In [32]:
bool_cols = df.select_dtypes(include='bool').columns
df[bool_cols] = df[bool_cols].astype(int)

In [33]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,...,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Income_Value,Marital_Status_Married,Marital_Status_Single,Marital_Status_Unknown,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver
0,0,45,1,3,2.0,39,5,1,3,12691.0,...,42,1.625,0.061,70000.0,1,0,0,0,0,0
1,0,49,0,5,4.0,44,6,1,2,8256.0,...,33,3.714,0.105,30000.0,0,1,0,0,0,0
2,0,51,1,3,4.0,36,4,1,0,3418.0,...,20,2.333,0.000,100000.0,1,0,0,0,0,0
3,0,40,0,4,2.0,34,3,4,1,3313.0,...,20,2.333,0.760,30000.0,0,0,1,0,0,0
4,0,40,1,3,1.0,21,5,1,0,4716.0,...,28,2.500,0.000,70000.0,1,0,0,0,0,0

## Save cleaned dataset

In [35]:
df.to_csv("../data/cleaned/BankChurners_cleaned.csv", index=False)