In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("../data/cleaned/Cleaned_data.csv")
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Income_Start,Income_End,Education_Level_Encoded
0,Existing Customer,45,M,3,Married,Blue,39,5,1,3,...,777,11914.0,1.335,1144,42,1.625,0.061,60000.0,80000.0,1
1,Existing Customer,49,F,5,Single,Blue,44,6,1,2,...,864,7392.0,1.541,1291,33,3.714,0.105,0.0,40000.0,3
2,Existing Customer,51,M,3,Married,Blue,36,4,1,0,...,0,3418.0,2.594,1887,20,2.333,0.000,80000.0,120000.0,3
3,Existing Customer,40,F,4,Unknown,Blue,34,3,4,1,...,2517,796.0,1.405,1171,20,2.333,0.760,0.0,40000.0,1
4,Existing Customer,40,M,3,Married,Blue,21,5,1,0,...,0,4716.0,2.175,816,28,2.500,0.000,60000.0,80000.0,0

In [6]:
df.columns

Index(['Attrition_Flag', 'Customer_Age', 'Gender', 'Dependent_count',
       'Marital_Status', 'Card_Category', 'Months_on_book',
       'Total_Relationship_Count', 'Months_Inactive_12_mon',
       'Contacts_Count_12_mon', 'Credit_Limit', 'Total_Revolving_Bal',
       'Avg_Open_To_Buy', 'Total_Amt_Chng_Q4_Q1', 'Total_Trans_Amt',
       'Total_Trans_Ct', 'Total_Ct_Chng_Q4_Q1', 'Avg_Utilization_Ratio',
       'Income_Start', 'Income_End', 'Education_Level_Encoded'],
      dtype='object')

In [ ]:
# Feature_1
df["Activity_Ratio"] = df["Total_Trans_Amt"] / df["Total_Trans_Ct"]

In [8]:
# Feature_2
df["Engagement_Score"] = (
    df["Months_on_book"]
    + df["Contacts_Count_12_mon"]
    + df["Total_Trans_Ct"]
)

In [9]:
# Feature_3
median_credit = df["Credit_Limit"].median()
df["High_Credit_Flag"] = (df["Credit_Limit"] > median_credit).astype(int)

In [ ]:
# Feature_4
df["Trans_Freq_Group"] = pd.qcut(
    df["Total_Trans_Ct"],
    q=3,
    labels=["Low", "Medium", "High"]
)

In [11]:
# Feature_5
def tenure_group(months):
    if months <= 24:
        return "New"
    elif months <= 48:
        return "Medium"
    else:
        return "Loyal"

df["Tenure_Group"] = df["Months_on_book"].apply(tenure_group)

In [12]:
df.to_csv("../data/Engineered/BankChurners_Engineered.csv",index=False)