In [1]:
import pandas as pd
from pathlib import Path
import numpy as np
# Read external CSV (CHANGE THE PATH)
df = pd.read_csv("../Data/Raw/BankChurners.csv")

In [2]:
df.head(10)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.99991
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.99994
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.99998
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.99987
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.99998
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,0.000055,0.99994
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,0.000123,0.99988
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,0.000086,0.99991
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,0.000045,0.99996
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,0.000303,0.99970

In [3]:
df = df.drop_duplicates()

In [4]:
df["Attrition_Flag"].value_counts()

Attrition_Flag
Existing Customer    8500
Attrited Customer    1627
Name: count, dtype: int64

In [5]:
cols_to_drop = [
    "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1",
    "Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2"
]

df.drop(columns=cols_to_drop, inplace=True)

In [6]:
df.head(10)

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
5,713061558,Existing Customer,44,M,2,Graduate,Married,$40K - $60K,Blue,36,...,1,2,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311
6,810347208,Existing Customer,51,M,4,Unknown,Married,$120K +,Gold,46,...,1,3,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066
7,818906208,Existing Customer,32,M,0,High School,Unknown,$60K - $80K,Silver,27,...,2,2,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048
8,710930508,Existing Customer,37,M,3,Uneducated,Single,$60K - $80K,Blue,36,...,2,0,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113
9,719661558,Existing Customer,48,M,2,Graduate,Single,$80K - $120K,Blue,36,...,3,3,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144

In [7]:
df.drop(columns=["CLIENTNUM"], inplace=True)

In [8]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000

In [9]:
df.isnull().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [10]:
df.isna().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [11]:
df["Income_Category"].unique()

array(['$60K - $80K', 'Less than $40K', '$80K - $120K', '$40K - $60K',
       '$120K +', 'Unknown'], dtype=object)

In [12]:
def split_income_range(value):
    if value == "Unknown":
        return pd.Series([np.nan, np.nan])
    
    if value == "Less than $40K":
        return pd.Series([0, 40000])
    
    if value == "$120K +":
        return pd.Series([120000, np.nan])   # end is open
    
    # For ranges like "$60K - $80K"
    parts = value.replace("$", "").replace("K", "000").split(" - ")
    start = int(parts[0])
    end = int(parts[1])
    return pd.Series([start, end])

In [13]:
df[["Income_Start", "Income_End"]] = df["Income_Category"].apply(split_income_range)

In [14]:
df["Income_Start"] = df["Income_Start"].fillna(df["Income_Start"].median())
df.loc[df["Income_Category"] == "$120K +", "Income_End"] = 150000

In [15]:
df = df.drop(columns=["Income_Category"])

In [16]:
df.head(50)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Income_Start,Income_End
0,Existing Customer,45,M,3,High School,Married,Blue,39,5,1,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,60000.0,80000.0
1,Existing Customer,49,F,5,Graduate,Single,Blue,44,6,1,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.0,40000.0
2,Existing Customer,51,M,3,Graduate,Married,Blue,36,4,1,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,80000.0,120000.0
3,Existing Customer,40,F,4,High School,Unknown,Blue,34,3,4,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.0,40000.0
4,Existing Customer,40,M,3,Uneducated,Married,Blue,21,5,1,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,60000.0,80000.0
5,Existing Customer,44,M,2,Graduate,Married,Blue,36,3,1,...,4010.0,1247,2763.0,1.376,1088,24,0.846,0.311,40000.0,60000.0
6,Existing Customer,51,M,4,Unknown,Married,Gold,46,6,1,...,34516.0,2264,32252.0,1.975,1330,31,0.722,0.066,120000.0,150000.0
7,Existing Customer,32,M,0,High School,Unknown,Silver,27,2,2,...,29081.0,1396,27685.0,2.204,1538,36,0.714,0.048,60000.0,80000.0
8,Existing Customer,37,M,3,Uneducated,Single,Blue,36,5,2,...,22352.0,2517,19835.0,3.355,1350,24,1.182,0.113,60000.0,80000.0
9,Existing Customer,48,M,2,Graduate,Single,Blue,36,6,3,...,11656.0,1677,9979.0,1.524,1441,32,0.882,0.144,80000.0,120000.0
10,Existing Customer,42,M,5,Uneducated,Unknown,Blue,31,5,3,...,6748.0,1467,5281.0,0.831,1201,42,0.680,0.217,120000.0,150000.0
11,Existing Customer,65,M,1,Unknown,Married,Blue,54,6,2,...,9095.0,1587,7508.0,1.433,1314,26,1.364,0.174,40000.0,60000.0
12,Existing Customer,56,M,1,College,Single,Blue,36,3,6,...,11751.0,0,11751.0,3.397,1539,17,3.250,0.000,80000.0,120000.0
13,Existing Customer,35,M,3,Graduate,Unknown,Blue,30,5,1,...,8547.0,1666,6881.0,1.163,1311,33,2.000,0.195,60000.0,80000.0
14,Existing Customer,57,F,2,Graduate,Married,Blue,48,5,2,...,2436.0,680,1756.0,1.190,1570,29,0.611,0.279,0.0,40000.0
15,Existing Customer,44,M,4,Unknown,Unknown,Blue,37,5,1,...,4234.0,972,3262.0,1.707,1348,27,1.700,0.230,80000.0,120000.0
16,Existing Customer,48,M,4,Post-Graduate,Single,Blue,36,6,2,...,30367.0,2362,28005.0,1.708,1671,27,0.929,0.078,80000.0,120000.0
17,Existing Customer,41,M,3,Unknown,Married,Blue,34,4,4,...,13535.0,1291,12244.0,0.653,1028,21,1.625,0.095,80000.0,120000.0
18,Existing Customer,61,M,1,High School,Married,Blue,56,2,2,...,3193.0,2517,676.0,1.831,1336,30,1.143,0.788,40000.0,60000.0
19,Existing Customer,45,F,2,Graduate,Married,Blue,37,6,1,...,14470.0,1157,13313.0,0.966,1207,21,0.909,0.080,40000.0,NaN
20,Existing Customer,47,M,1,Doctorate,Divorced,Blue,42,5,2,...,20979.0,1800,19179.0,0.906,1178,27,0.929,0.086,60000.0,80000.0
21,Attrited Customer,62,F,0,Graduate,Married,Blue,49,2,3,...,1438.3,0,1438.3,1.047,692,16,0.600,0.000,0.0,40000.0
22,Existing Customer,41,M,3,High School,Married,Blue,33,4,2,...,4470.0,680,3790.0,1.608,931,18,1.571,0.152,40000.0,60000.0
23,Existing Customer,47,F,4,Unknown,Single,Blue,36,3,3,...,2492.0,1560,932.0,0.573,1126,23,0.353,0.626,0.0,40000.0
24,Existing Customer,54,M,2,Unknown,Married,Blue,42,4,2,...,12217.0,0,12217.0,1.075,1110,21,0.750,0.000,80000.0,120000.0
25,Existing Customer,41,F,3,Graduate,Single,Blue,28,6,1,...,7768.0,1669,6099.0,0.797,1051,22,0.833,0.215,0.0,40000.0
26,Existing Customer,59,M,1,High School,Unknown,Blue,46,4,1,...,14784.0,1374,13410.0,0.921,1197,23,1.300,0.093,40000.0,60000.0
27,Existing Customer,63,M,1,Unknown,Married,Blue,56,3,3,...,10215.0,1010,9205.0,0.843,1904,40,1.000,0.099,60000.0,80000.0
28,Existing Customer,44,F,3,Uneducated,Single,Blue,34,5,2,...,10100.0,0,10100.0,0.525,1052,18,1.571,0.000,40000.0,NaN
29,Existing Customer,47,M,4,High School,Married,Blue,42,6,0,...,4785.0,1362,3423.0,0.739,1045,38,0.900,0.285,40000.0,60000.0
30,Existing Customer,53,M,3,Unknown,Married,Blue,33,3,2,...,2753.0,1811,942.0,0.977,1038,25,2.571,0.658,80000.0,120000.0
31,Existing Customer,53,M,2,Uneducated,Married,Blue,48,2,5,...,2451.0,1690,761.0,1.323,1596,26,1.600,0.690,60000.0,80000.0
32,Existing Customer,41,M,4,Graduate,Married,Blue,36,4,1,...,8923.0,2517,6406.0,1.726,1589,24,1.667,0.282,60000.0,80000.0
33,Existing Customer,53,F,2,College,Married,Blue,38,5,2,...,2650.0,1490,1160.0,1.750,1411,28,1.000,0.562,0.0,40000.0
34,Existing Customer,58,M,0,Graduate,Married,Blue,49,6,2,...,12555.0,1696,10859.0,0.519,1291,24,0.714,0.135,80000.0,120000.0
35,Existing Customer,55,F,1,College,Single,Blue,36,4,2,...,3520.0,1914,1606.0,0.510,1407,43,0.483,0.544,0.0,40000.0
36,Existing Customer,55,F,3,Graduate,Married,Blue,36,6,2,...,3035.0,2298,737.0,1.724,1877,37,1.176,0.757,0.0,40000.0
37,Existing Customer,42,F,4,High School,Married,Gold,36,2,3,...,15433.0,0,15433.0,0.865,966,22,1.200,0.000,0.0,40000.0
38,Existing Customer,57,F,1,Graduate,Unknown,Blue,49,3,3,...,3672.0,886,2786.0,1.320,1464,28,0.556,0.241,40000.0,60000.0
39,Attrited Customer,66,F,0,Doctorate,Married,Blue,56,5,4,...,7882.0,605,7277.0,1.052,704,16,0.143,0.077,40000.0,NaN
40,Existing Customer,45,M,3,Graduate,Single,Blue,41,2,2,...,32426.0,578,31848.0,1.042,1109,28,0.474,0.018,80000.0,120000.0
41,Existing Customer,51,M,2,Unknown,Married,Blue,44,4,1,...,6205.0,2204,4001.0,0.803,1347,28,0.556,0.355,40000.0,60000.0
42,Existing Customer,50,F,1,College,Single,Silver,43,3,2,...,17304.0,2517,14787.0,1.449,1756,33,1.200,0.145,40000.0,60000.0
43,Existing Customer,49,M,3,High School,Married,Blue,37,5,2,...,3906.0,0,3906.0,1.214,1756,32,1.000,0.000,60000.0,80000.0
44,Existing Customer,38,F,4,Graduate,Single,Blue,28,2,3,...,9830.0,2055,7775.0,0.977,1042,23,0.917,0.209,40000.0,NaN
45,Existing Customer,49,M,4,Uneducated,Single,Blue,30,3,2,...,34516.0,0,34516.0,1.621,1444,28,1.333,0.000,80000.0,120000.0
46,Existing Customer,56,M,2,Doctorate,Married,Blue,45,6,2,...,2283.0,1430,853.0,2.316,1741,27,0.588,0.626,60000.0,80000.0
47,Existing Customer,59,M,1,Doctorate,Married,Blue,52,3,2,...,2548.0,2020,528.0,2.357,1719,27,1.700,0.793,40000.0,60000.0
48,Existing Customer,46,M,3,High School,Married,Blue,40,4,3,...,19458.0,1435,18023.0,0.787,1217,27,0.800,0.074,80000.0,120000.0
49,Existing Customer,52,M,1,College,Single,Blue,40,5,1,...,4745.0,1227,3518.0,0.624,1140,40,0.600,0.259,80000.0,120000.0

In [17]:
df["Education_Level"].unique()

array(['High School', 'Graduate', 'Uneducated', 'Unknown', 'College',
       'Post-Graduate', 'Doctorate'], dtype=object)

In [18]:
edu_order = {
    "Uneducated": 0,
    "High School": 1,
    "College": 2,
    "Graduate": 3,
    "Post-Graduate": 4,
    "Doctorate": 5,
    "Unknown": -1   # or maybe 0 if you want
}

df["Education_Level_Encoded"] = df["Education_Level"].map(edu_order)
df = df.drop(columns=["Education_Level"])

In [19]:
df.head(50)

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Marital_Status,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,...,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Income_Start,Income_End,Education_Level_Encoded
0,Existing Customer,45,M,3,Married,Blue,39,5,1,3,...,777,11914.0,1.335,1144,42,1.625,0.061,60000.0,80000.0,1
1,Existing Customer,49,F,5,Single,Blue,44,6,1,2,...,864,7392.0,1.541,1291,33,3.714,0.105,0.0,40000.0,3
2,Existing Customer,51,M,3,Married,Blue,36,4,1,0,...,0,3418.0,2.594,1887,20,2.333,0.000,80000.0,120000.0,3
3,Existing Customer,40,F,4,Unknown,Blue,34,3,4,1,...,2517,796.0,1.405,1171,20,2.333,0.760,0.0,40000.0,1
4,Existing Customer,40,M,3,Married,Blue,21,5,1,0,...,0,4716.0,2.175,816,28,2.500,0.000,60000.0,80000.0,0
5,Existing Customer,44,M,2,Married,Blue,36,3,1,2,...,1247,2763.0,1.376,1088,24,0.846,0.311,40000.0,60000.0,3
6,Existing Customer,51,M,4,Married,Gold,46,6,1,3,...,2264,32252.0,1.975,1330,31,0.722,0.066,120000.0,150000.0,-1
7,Existing Customer,32,M,0,Unknown,Silver,27,2,2,2,...,1396,27685.0,2.204,1538,36,0.714,0.048,60000.0,80000.0,1
8,Existing Customer,37,M,3,Single,Blue,36,5,2,0,...,2517,19835.0,3.355,1350,24,1.182,0.113,60000.0,80000.0,0
9,Existing Customer,48,M,2,Single,Blue,36,6,3,3,...,1677,9979.0,1.524,1441,32,0.882,0.144,80000.0,120000.0,3
10,Existing Customer,42,M,5,Unknown,Blue,31,5,3,2,...,1467,5281.0,0.831,1201,42,0.680,0.217,120000.0,150000.0,0
11,Existing Customer,65,M,1,Married,Blue,54,6,2,3,...,1587,7508.0,1.433,1314,26,1.364,0.174,40000.0,60000.0,-1
12,Existing Customer,56,M,1,Single,Blue,36,3,6,0,...,0,11751.0,3.397,1539,17,3.250,0.000,80000.0,120000.0,2
13,Existing Customer,35,M,3,Unknown,Blue,30,5,1,3,...,1666,6881.0,1.163,1311,33,2.000,0.195,60000.0,80000.0,3
14,Existing Customer,57,F,2,Married,Blue,48,5,2,2,...,680,1756.0,1.190,1570,29,0.611,0.279,0.0,40000.0,3
15,Existing Customer,44,M,4,Unknown,Blue,37,5,1,2,...,972,3262.0,1.707,1348,27,1.700,0.230,80000.0,120000.0,-1
16,Existing Customer,48,M,4,Single,Blue,36,6,2,3,...,2362,28005.0,1.708,1671,27,0.929,0.078,80000.0,120000.0,4
17,Existing Customer,41,M,3,Married,Blue,34,4,4,1,...,1291,12244.0,0.653,1028,21,1.625,0.095,80000.0,120000.0,-1
18,Existing Customer,61,M,1,Married,Blue,56,2,2,3,...,2517,676.0,1.831,1336,30,1.143,0.788,40000.0,60000.0,1
19,Existing Customer,45,F,2,Married,Blue,37,6,1,2,...,1157,13313.0,0.966,1207,21,0.909,0.080,40000.0,NaN,3
20,Existing Customer,47,M,1,Divorced,Blue,42,5,2,0,...,1800,19179.0,0.906,1178,27,0.929,0.086,60000.0,80000.0,5
21,Attrited Customer,62,F,0,Married,Blue,49,2,3,3,...,0,1438.3,1.047,692,16,0.600,0.000,0.0,40000.0,3
22,Existing Customer,41,M,3,Married,Blue,33,4,2,1,...,680,3790.0,1.608,931,18,1.571,0.152,40000.0,60000.0,1
23,Existing Customer,47,F,4,Single,Blue,36,3,3,2,...,1560,932.0,0.573,1126,23,0.353,0.626,0.0,40000.0,-1
24,Existing Customer,54,M,2,Married,Blue,42,4,2,3,...,0,12217.0,1.075,1110,21,0.750,0.000,80000.0,120000.0,-1
25,Existing Customer,41,F,3,Single,Blue,28,6,1,2,...,1669,6099.0,0.797,1051,22,0.833,0.215,0.0,40000.0,3
26,Existing Customer,59,M,1,Unknown,Blue,46,4,1,2,...,1374,13410.0,0.921,1197,23,1.300,0.093,40000.0,60000.0,1
27,Existing Customer,63,M,1,Married,Blue,56,3,3,2,...,1010,9205.0,0.843,1904,40,1.000,0.099,60000.0,80000.0,-1
28,Existing Customer,44,F,3,Single,Blue,34,5,2,2,...,0,10100.0,0.525,1052,18,1.571,0.000,40000.0,NaN,0
29,Existing Customer,47,M,4,Married,Blue,42,6,0,0,...,1362,3423.0,0.739,1045,38,0.900,0.285,40000.0,60000.0,1
30,Existing Customer,53,M,3,Married,Blue,33,3,2,3,...,1811,942.0,0.977,1038,25,2.571,0.658,80000.0,120000.0,-1
31,Existing Customer,53,M,2,Married,Blue,48,2,5,1,...,1690,761.0,1.323,1596,26,1.600,0.690,60000.0,80000.0,0
32,Existing Customer,41,M,4,Married,Blue,36,4,1,2,...,2517,6406.0,1.726,1589,24,1.667,0.282,60000.0,80000.0,3
33,Existing Customer,53,F,2,Married,Blue,38,5,2,3,...,1490,1160.0,1.750,1411,28,1.000,0.562,0.0,40000.0,2
34,Existing Customer,58,M,0,Married,Blue,49,6,2,2,...,1696,10859.0,0.519,1291,24,0.714,0.135,80000.0,120000.0,3
35,Existing Customer,55,F,1,Single,Blue,36,4,2,1,...,1914,1606.0,0.510,1407,43,0.483,0.544,0.0,40000.0,2
36,Existing Customer,55,F,3,Married,Blue,36,6,2,3,...,2298,737.0,1.724,1877,37,1.176,0.757,0.0,40000.0,3
37,Existing Customer,42,F,4,Married,Gold,36,2,3,3,...,0,15433.0,0.865,966,22,1.200,0.000,0.0,40000.0,1
38,Existing Customer,57,F,1,Unknown,Blue,49,3,3,2,...,886,2786.0,1.320,1464,28,0.556,0.241,40000.0,60000.0,3
39,Attrited Customer,66,F,0,Married,Blue,56,5,4,3,...,605,7277.0,1.052,704,16,0.143,0.077,40000.0,NaN,5
40,Existing Customer,45,M,3,Single,Blue,41,2,2,2,...,578,31848.0,1.042,1109,28,0.474,0.018,80000.0,120000.0,3
41,Existing Customer,51,M,2,Married,Blue,44,4,1,0,...,2204,4001.0,0.803,1347,28,0.556,0.355,40000.0,60000.0,-1
42,Existing Customer,50,F,1,Single,Silver,43,3,2,3,...,2517,14787.0,1.449,1756,33,1.200,0.145,40000.0,60000.0,2
43,Existing Customer,49,M,3,Married,Blue,37,5,2,1,...,0,3906.0,1.214,1756,32,1.000,0.000,60000.0,80000.0,1
44,Existing Customer,38,F,4,Single,Blue,28,2,3,3,...,2055,7775.0,0.977,1042,23,0.917,0.209,40000.0,NaN,3
45,Existing Customer,49,M,4,Single,Blue,30,3,2,3,...,0,34516.0,1.621,1444,28,1.333,0.000,80000.0,120000.0,0
46,Existing Customer,56,M,2,Married,Blue,45,6,2,0,...,1430,853.0,2.316,1741,27,0.588,0.626,60000.0,80000.0,5
47,Existing Customer,59,M,1,Married,Blue,52,3,2,2,...,2020,528.0,2.357,1719,27,1.700,0.793,40000.0,60000.0,5
48,Existing Customer,46,M,3,Married,Blue,40,4,3,3,...,1435,18023.0,0.787,1217,27,0.800,0.074,80000.0,120000.0,1
49,Existing Customer,52,M,1,Single,Blue,40,5,1,1,...,1227,3518.0,0.624,1140,40,0.600,0.259,80000.0,120000.0,2

In [24]:
df.to_csv("../Data/Cleaned/Cleaned_data.csv", index=False)